body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	display: flex;
	background: #2b2b2f;
	color: white;
}

/*TODO: figure out how to get the image to not shrink*/
header {
	width: 100%;
	height: 70vh;
	text-align: center;
	background: url('./SheilaNoGenderBlur.jpg') no-repeat center center;
	background-size: 130%;
	display: flex;
	flex-direction: column;
	text-shadow: 2px 2px 5px #000000, 2px 2px 2px #333333;
}

h1 {
	margin: 30% auto 0 auto;
}

h2 {
	font-size: 1em;
	margin: 0 auto auto;
	/*margin: 0 auto 30% auto;*/
}

nav {
	
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 0;
	justify-content: space-between;
}